@model IEnumerable<PR3M.DBModel.User>

@section HeaderAndFooter{
    <link href="~/Content/Css/CssHeader1.css" rel="stylesheet" />
    <link href="~/Content/Css/CssFooter.css" rel="stylesheet" />
    <style>
        .userManagementBackgroundDiv {
            padding: 0rem 45px 0rem 45px;
        }

        h2 {
            font-family: sans-serif;
            color: orange;
            font-weight: bold;
        }

        a.Create {
            text-decoration: none;
            color: green;
            font-family: sans-serif;
            font-size: 18px;
        }

        a.backPage {
            text-decoration: none;
            color: blue;
            font-size: 18px;
            font-family: sans-serif;
        }
    </style>
}
<div class="userManagementBackgroundDiv">
    <h2>Quản lý người dùng</h2>

    <p>
        @Html.ActionLink("Tạo mới người dùng", "Create", null, new { @class = "Create" })
    </p>

    <p>
        Tìm kiếm người dùng: <input type="text" name="nameInput" id="nameInput" /> <input type="button" value="Search" id="btnSearch" />
    </p>

    <div id="displayUser"></div>

    <p>
        @Html.ActionLink("Quay trở lại trang menu", "Index", "Menu", null, new { @class = "backPage" })
    </p>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('input[id = "btnSearch"]').click(function (e) {

                var userNameSearch = document.getElementById('nameInput').value;
                $.ajax({
                    url: "/Users/SearchUser",
                    data: { userNameSearch: userNameSearch },
                    type: "GET",
                    success: function (data) {
                        $("#displayUser").html(data);
                    },
                    error: function (message) {
                        alert('error:' + message);
                    }
                });
            });
        });
    </script>
}
